# Virtual Environment
myenv/
venv/
ENV/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Document RAG cache (contains index databases and uploaded files)
.pdf_cache/
explanations/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# IDE and Project environments
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.project
.pydevproject
.settings/
